body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 5px solid black;
}

button {
  cursor: pointer;
}

.primary {
  background-color: #3065AC;
  color: white;
}
.primary:hover {
  background-color: #126fe9;
  color: white;
}

.negative {
  background-color: #C23B22;
  color: white;
}
.negative:hover {
  background-color: #ee3110;
  color: white;
}